<ion-content padding id="page4">
  <ion-list id="transactions-list6">
    <ion-item  color="none"  *ngFor="let tx of transactions">
      <span *ngIf="address == tx.transaction.recipient">
          <h2> <span *ngIf='tx.transaction.amount != 0'>-{{tx.transaction.amount/1000000}} xem</span>     <span *ngFor="let mos of mosaics">
              -  {{ mos.quantity |  exponentialStrength:(mis.definition.properties[0].value)}} {{mos.mosaicId.name}}
          </span>
        </h2>
          <p><b>From:</b> {{tx.transaction.signer}}</p>

      </span>
      <span *ngIf="address != tx.transaction.recipient">
<h2> <span *ngIf='tx.transaction.amount != 0'>+{{tx.transaction.amount/1000000}} xem</span>     
      <span *ngFor="let mos of mosaics">
              + {{ mos.quantity |  exponentialStrength:(mis.definition.properties[0].value)}} {{mos.mosaicId.name}}
          </span>
        </h2>
        <p><b>To:</b> {{tx.transaction.recipient}}</p>
      </span>
      <p><b>Fee:</b> {{tx.transaction.fee/100000}}</p>
      <p><b> Message:</b>  {{tx.transaction.message.payload | message}}</p>
    </ion-item>
    
  </ion-list>
</ion-content>