<h2>
    <span *ngIf='tx.otherTrans.amount != 0 && !tx.otherTrans.mosaics'>
        <span class="color-plus" *ngIf="address == tx.otherTrans.recipient">
            +
        </span>
        <span class="color-less" *ngIf="address != tx.otherTrans.recipient">
            -
        </span>
        {{tx.amount/1000000}} xem
    </span>
    <span *ngFor="let mos of tx.otherTrans.mosaics">
        <span class="color-plus" *ngIf="address == tx.otherTrans.recipient">
            +
        </span>
        <span class="color-less" *ngIf="address != tx.otherTrans.recipient">
            -
        </span>
        {{ mos.quantity }} {{mos.mosaicId.name}}
    </span>
</h2>

<!-- Sender or recipient -->
<p class="fit-long-address">
    <b>
        <span *ngIf="address == tx.otherTrans.recipient">{{'FROM' | translate}}</span>
        <span *ngIf="address != tx.otherTrans.recipient">{{'TO' | translate}}</span>:
    </b>
    {{ tx.signer.address.plain() }}
</p>

<!-- Date (Timestamp) -->
<p>
    <b>{{'DATE' | translate}}:</b> {{tx.otherTrans.timeWindow.timeStamp.toString()}}
</p>

<!-- Fee -->
<p *ngIf="tx.fee"><b>{{'FEE' | translate}}:</b> {{(tx.transaction.fee+tx.transaction.otherTrans.fee) /1000000}} xem</p>

<!-- Has levy -->
<p>
    <span *ngIf='hasLevy'>
            <b>{{'LEVY' | translate}}</b>:
    </span>
    <span *ngFor="let mos of tx.otherTrans.mosaics;">
        <span *ngIf="mos.definition?.levy.mosaicId">
            {{mos | formatLevy:(mos.definition?.levy) | async}} {{mos.definition?.levy.mosaicId.name}}
        </span>
    </span>
</p>

<!-- Message -->
<p *ngIf="tx.otherTrans.message">
    <span *ngIf="!tx.otherTrans.message.isEncrypted() && tx.otherTrans.message.plain().length > 0">
        <b> {{'MESSAGE' | translate}}:</b> {{tx.otherTrans.message.plain()}}
    </span>
    <span *ngIf="tx.otherTrans.message.isEncrypted()">
        <b> {{'MESSAGE' | translate}}:</b> Encrypted.
    </span>
</p>