<h2>
    <span *ngIf='tx.otherTransaction.amount != 0 && !tx.otherTransaction.mosaics'>
        <span class="color-plus" *ngIf="address == tx.otherTransaction.recipient">
            +
        </span>
        <span class="color-less" *ngIf="address != tx.otherTransaction.recipient">
            -
        </span>
        {{tx.amount/1000000}} xem
    </span>
    <span *ngFor="let mos of tx.otherTransaction.mosaics">
        <span class="color-plus" *ngIf="address == tx.otherTransaction.recipient">
            +
        </span>
        <span class="color-less" *ngIf="address != tx.otherTransaction.recipient">
            -
        </span>
        {{ mos.amount?.toString() }} {{mos.mosaicId.name}}
    </span>
</h2>

<!-- Sender or recipient -->
<p class="fit-long-address">
    <b>
        <span *ngIf="address == tx.otherTransaction.recipient">{{'FROM' | translate}}</span>
        <span *ngIf="address != tx.otherTransaction.recipient">{{'TO' | translate}}</span>:
    </b>
    {{ tx.signer.address.plain() }}
</p>

<!-- Date (Timestamp) -->
<p>
    <b>{{'DATE' | translate}}:</b> {{tx.otherTransaction.timeWindow.timeStamp.toString()}}
</p>

<!-- Fee -->

<p *ngIf="tx.fee"><b>{{'FEE' | translate}}:</b> {{(tx.fee+tx.otherTransaction.fee) /1000000}} xem</p>

<!-- Has levy -->
<p>
    <span *ngIf='hasLevy'>
            <b>{{'LEVY' | translate}}</b>:
    </span>
    <span *ngFor="let mos of tx.otherTransaction.mosaics;">
        <span *ngIf="mos.levy?.mosaicId">
            {{mos | formatLevy:(mos) | async}} {{mos.levy.mosaicId.name}}
        </span>
    </span>
</p>

<!-- Message -->
<p *ngIf="tx.otherTransaction.message">
    <span *ngIf="!tx.otherTransaction.message.isEncrypted() && tx.otherTransaction.message.plain().length > 0">
        <b> {{'MESSAGE' | translate}}:</b> {{tx.otherTransaction.message.plain()}}
    </span>
    <span *ngIf="tx.otherTransaction.message.isEncrypted()">
        <b> {{'MESSAGE' | translate}}:</b> {{'ENCRYPTED' | translate}}.
    </span>
</p>