<ion-content padding id="transactions-unconfirmed">
    <ion-refresher (ionRefresh)="getTransactions($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="{{'PULL_TO_REFRESH' | translate}} "
                refreshingSpinner="circles"
                refreshingText="{{'REFRESHING' | translate}} ">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item color="none" *ngFor="let transaction of transactions" on-click="copyTransactionAddress(transaction)">

            <!-- if importance transfer -->
            <span *ngIf="transaction.type == TransactionTypes.IMPORTANCE_TRANSFER">
                <importance-transfer-transaction [tx]="transaction"></importance-transfer-transaction>
            </span>


            <!-- if mosaic definition -->
            <span *ngIf="transaction.type == TransactionTypes.MOSAIC_DEFINITION_CREATION">
                <mosaic-definition-transaction [tx]="transaction"></mosaic-definition-transaction>
            </span>


            <!-- if mosaic supply change -->
            <span *ngIf="transaction.type == TransactionTypes.MOSAIC_SUPPLY_CHANGE">
                <mosaic-supply-change-transaction [tx]="transaction"></mosaic-supply-change-transaction>
            </span>


            <!-- if multisig transaction  -->
            <span *ngIf="transaction.type == TransactionTypes.MULTISIG">
                <multisig-transaction [tx]="transaction"></multisig-transaction>
            </span>

            <!-- if multisig aggregate modification  -->
            <span *ngIf="transaction.type == TransactionTypes.MULTISIG_AGGREGATE_MODIFICATION">
                <multisig-aggregate-modification-transaction [tx]="transaction"></multisig-aggregate-modification-transaction>
            </span>


            <!-- if provision namespace  -->
            <span *ngIf="transaction.type == TransactionTypes.PROVISION_NAMESPACE">
                <provision-namespace-transaction [tx]="transaction"></provision-namespace-transaction>
            </span>

            <!-- if transfer  -->
            <span *ngIf="transaction.type == TransactionTypes.TRANSFER">
                <transfer-transaction [tx]="transaction"></transfer-transaction>
            </span>

        </ion-item>
    </ion-list>
    <div *ngIf="transactions.length == 0">
        <div class="default-padding">

        <h5>{{'NOTHING_TO_SHOW' | translate}}</h5>
        </div>
    </div>
</ion-content>