<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Account
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="page3">
    <form id="account-form6">
        <div id="accountInfoQR"><img [src]="qrCode.src" style="height: 250px;margin: 0 auto;
    display: block;
    margin-top: 20px;"></div>
        <h1 id="account-heading1" style="color:#000000;">
            Your Address
        </h1>
    </form>
    <div id="account-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
            {{selectedWallet.accounts[0].address |formatAddress}}
        </p>
    </div>
    <button id="account-button3" ion-button color="positive" block on-click="shareAddress()">
        Share Address
    </button>
    <div class="spacer" style="width:300px;height:40px;" id="account-spacer1"></div>
    <div class="private-key">
        <h2 id="account-heading2">
            Private Key
        </h2>
        <div id="signup-markdown2" class="show-list-numbers-and-dots">
            <p style="color:#000000;">
                To view your private key, insert your password or passphrase.
            </p>
        </div>
        <form id="private-key-form">
            <ion-list id="private-key-list">
                <ion-item id="password-input" *ngIf='!common.privateKey'>
                    <ion-label>
                        Password/Passphrase
                    </ion-label>
                    <ion-input type="password" [(ngModel)]="common.password" name="password"></ion-input>
                </ion-item>
                <ion-item id="private-key-input" *ngIf='common.privateKey'>
                    <ion-label>
                        Private Key
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="common.privateKey" name="private-key"
                               disabled="true"></ion-input>
                </ion-item>
            </ion-list>

            <button id="signup-button6" ion-button color="stable" block on-click="showPrivateKey()"
                    [disabled]="!common.password" *ngIf='!common.privateKey'>
                Show Private Key
            </button>
            <button id="signup-button6" ion-button color="stable" block on-click="cleanCommon()"
                    *ngIf='common.privateKey'>
                Hide Private Key
            </button>

        </form>
    </div>


    <div class="spacer" style="width:300px;height:40px;" id="account-spacer1"></div>

    <button id="account-button4" ion-button color="positive" block on-click="logout()">
        Logout
    </button>
</ion-content>