<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{'ACCOUNT' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="account">
    <form>
        <div id="accountInfoQR"><img [src]="qrCode.src" style="height: 250px;margin: 0 auto;
    display: block;
    margin-top: 20px;"></div>
        <h1 style="color:#000000;">
            {{'YOUR_ADDRESS' | translate }}
        </h1>
    </form>
    <div class="show-list-numbers-and-dots">
        <p style="color:#000000;" *ngIf='selectedWallet'>
            {{selectedWallet.address.pretty()}}
        </p>
    </div>
    <button ion-button color="positive" block on-click="shareAddress()">
        {{'SHARE_ADDRESS' | translate }}
    </button>
    <div class="spacer" style="width:300px;height:40px;" id="account-spacer1"></div>
    <div class="private-key">
        <h2 >
            {{'PRIVATE_KEY' | translate }}
        </h2>
        <div  class="show-list-numbers-and-dots">
            <p style="color:#000000;">
                {{'PRIVATE_KEY_SUBTITLE' | translate }}
            </p>
        </div>
        <form id="private-key-form">
            <ion-list id="private-key-list">
                <ion-item id="password-input" *ngIf='!common.privateKey'>
                    <ion-label>
                        {{'PASSWORD' | translate }}
                    </ion-label>
                    <ion-input type="password" [(ngModel)]="common.password" name="password"></ion-input>
                </ion-item>
                <p>
                    {{'PASSWORD_WARNING' | translate }}
                   </p>
                <p><b>{{ common.privateKey}}</b></p>
            </ion-list>

            <button id="show-button" ion-button color="stable" block on-click="showPrivateKey()"
                    [disabled]="!common.password" *ngIf='!common.privateKey'>
                {{'SHOW_PRIVATE_KEY' | translate }}

            </button>
            <button id="hidde-button" ion-button color="stable" block on-click="hidePrivateKey()"
                    *ngIf='common.privateKey'>
                {{'HIDE_PRIVATE_KEY' | translate }}
            </button>

        </form>
    </div>

    <div class="spacer" style="width:300px;height:40px;" id="account-spacer2"></div>

    <button id="account-button2" ion-button color="positive" block on-click="logout()">
        {{'LOGOUT' | translate }}
    </button>
</ion-content>